work.iml
.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.idea/libraries/activeandroid_3_1_0_SNAPSHOT.xml
.idea/libraries/appcompat_v7_23_1_1.xml
.idea/libraries/bolts_android_1_2_0.xml
.idea/libraries/cardview_v7_23_1_1.xml
.idea/libraries/design_23_1_1.xml
.idea/libraries/facebook_android_sdk_4_7_0.xml
.idea/libraries/gson_2_4.xml
.idea/libraries/library_1_0_1.xml
.idea/libraries/library_1_0_19.xml
.idea/libraries/library_1_1_3.xml
.idea/libraries/library_1_2_9.xml
.idea/libraries/library_2_4_0.xml
.idea/libraries/mediarouter_v7_22_2_0.xml
.idea/libraries/multidex_1_0_1.xml
.idea/libraries/multidex_instrumentation_1_0_1.xml
.idea/libraries/play_services_8_3_0.xml
.idea/libraries/play_services_ads_8_3_0.xml
.idea/libraries/play_services_analytics_8_3_0.xml
.idea/libraries/play_services_appindexing_8_3_0.xml
.idea/libraries/play_services_appinvite_8_3_0.xml
.idea/libraries/play_services_appstate_8_3_0.xml
.idea/libraries/play_services_auth_8_3_0.xml
.idea/libraries/play_services_base_8_3_0.xml
.idea/libraries/play_services_basement_8_3_0.xml
.idea/libraries/play_services_cast_8_3_0.xml
.idea/libraries/play_services_drive_8_3_0.xml
.idea/libraries/play_services_fitness_8_3_0.xml
.idea/libraries/play_services_games_8_3_0.xml
.idea/libraries/play_services_gcm_8_3_0.xml
.idea/libraries/play_services_identity_8_3_0.xml
.idea/libraries/play_services_location_8_3_0.xml
.idea/libraries/play_services_maps_8_3_0.xml
.idea/libraries/play_services_measurement_8_3_0.xml
.idea/libraries/play_services_nearby_8_3_0.xml
.idea/libraries/play_services_panorama_8_3_0.xml
.idea/libraries/play_services_plus_8_3_0.xml
.idea/libraries/play_services_safetynet_8_3_0.xml
.idea/libraries/play_services_vision_8_3_0.xml
.idea/libraries/play_services_wallet_8_3_0.xml
.idea/libraries/play_services_wearable_8_3_0.xml
.idea/libraries/recyclerview_v7_23_1_1.xml
.idea/libraries/support_annotations_23_1_1.xml
.idea/libraries/support_v4_23_1_1.xml
.build/
